/* html,
body{
    height:100%;
}
body{
    min-height:100%;
} */

.header{
    height:50px;
}
#main{
    padding:20px 20px 20px 70px;
    /* background:#99E1FF;
    height:100%;
    min-height:100%; */
}
h1.main-logo{
    background:transparent url('../../img/openmos-logo.png') 0 0/230px auto no-repeat;
    position:relative;
    height:80px;
}
h1.main-logo span{
    position:absolute;
    left:-10000px;
    top:-10000px;
    font-size:.1em;
}
.head-main-top{
    height:80px;
    background:#00aeef;
}
table.table{
    background:#fff;
}
/* Console */
.main-console{
    /* overflow-x:auto; 
    white-space: nowrap; */
    width: 100%;
    padding-top:80px;
}
.main-console ul{
    display:block;
    margin:0 auto;
    list-style:none;
    padding:0;
}
.main-console > ul > li{        /* I° livello */
   
    
    display:inline-block;
    
    transition:all .2s;
    margin-bottom:20px;
    margin-right:20px;
    position:relative;
    z-index:6666;
}
.main-console li.item-service{
    background:#fff;
    width:calc(23.5% - 7px);
    border-radius:4px;
    border:1px solid #337ab7;
    padding-left:5px;
    padding-right:5px;
    text-align:center;
}
.main-console .actions{
    margin:0;
    padding:0;
}

.main-console a.macroArea{
    display:block;
    height:60px;
    width:80%;
    margin:-30px auto 0;;
    
}



.main-console ul li a > div{
    display:table;
    width:100%;
    height:100%;
    background: #337ab7;
    border:1px solid #0006FF;
    color:#fff;
}
.main-console > ul > li a:hover div{
    transform:scale(1.05);
}
.main-console ul li a > div span{
    display:table-cell;
    vertical-align:middle;
    text-align:center
}
    /* II° Liv */
.main-console ul ul li a{
    padding:10px 5px;
    border-bottom:1px dotted #bbb;
    display:block;
}




/* left nav */
 .fa-2x {
font-size: 2em;
}
.glyphicon {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

/*
.side-menu:hover,nav.side-menu.expanded {
width:250px;
overflow:visible;
}*/

.side-menu {
background:#fbfbfb;
border-right:1px solid #e5e5e5;
position:fixed;
top:80px;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:10000;
}

.side-menu>ul {
margin:0;
}

.side-menu li {
position:relative;
display:block;
width:250px;
}

.side-menu li > a,
.side-menu li > button {
position:relative;
display:table;
border-collapse:collapse;
border:0 none;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
padding:0;  
}

.side-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.side-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.side-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.side-menu li:hover > a,
.side-menu li:hover > button,
nav.side-menu li.active > a,
nav.side-menu li.active > button,

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: red;
width: 100%;
height: 100%;
}

/* exec table */
select.selectpicker{
    border:0 none;
}


.breadcrumbs-pag a:not(:last-child):after{
    content:">";
    color:#00aeef;
    display:inline-block;
    font-weight:bold;
    margin:0 10px;
}