<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <breadcrumbs
                [callerType]="callerType"
                [callerId]="callerId">
            </breadcrumbs>

            <add-equipment-observation
                [callerType]="callerType"
                [callerId]="callerId">
            </add-equipment-observation>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<!-- bottom-footer
    [whereAmIContext]="callerType"
    [whereAmISubContext]="'addEquipmentObservation'"
    [whereAmIElement]="callerId">
</bottom-footer -->