
<div *ngIf="selectedProduct; else noData">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <breadcrumbs [callerType]="callerType" 
                    [callerId]="callerId">
                </breadcrumbs>
                <h3>DETAIL OF PRODUCT {{selectedProduct.name}}</h3>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary btn-lg btn-block" (click)="changeView(0)">Associated Parts</button>
                <button class="btn btn-primary bnt-lg btn-block" (click)="changeView(1)">Associated Skill Requirements</button>                
                <button class="btn btn-warning btn-sm btn-block" (click)="showAllProperties()">Show All Properties</button>
            </div>
            <div class="col-sm-9">
                <div id="part" *ngIf="showSelector[0]" class="sr-details" >
                    <h4>PARTS</h4>
                    <div *ngIf="this.selectedProduct.parts; else noPartsData">
                        <div *ngIf="this.selectedProduct.parts.length == 0">
                            No parts found.
                        </div>                        
                        <div *ngIf="this.selectedProduct.parts.length == 1">
                            Found 1 part.
                        </div>                        
                        <div *ngIf="this.selectedProduct.parts.length > 1">
                            Found {{this.selectedProduct.parts.length}} parts.
                        </div>                        
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>DESCRIPTION</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let part of this.selectedProduct.parts; let i = index">
                                    <td>{{part.uniqueId}}</td>
                                    <td>{{part.name}}</td>
                                    <td>{{part.type}}</td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="skillRequirements" *ngIf="showSelector[1]" class="sr-details">
                    <h4>SKILL REQUIREMENTS</h4>
                    <div *ngIf="this.selectedProduct.skillRequirements; else noSkillRequirementsData">
                        <div *ngIf="this.selectedProduct.skillRequirements.length == 0">
                            No skill requirements found.
                        </div>                        
                        <div *ngIf="this.selectedProduct.skillRequirements.length == 1">
                            Found 1 skill requirement.
                        </div>                        
                        <div *ngIf="this.selectedProduct.skillRequirements.length > 1">
                            Found {{this.selectedProduct.skillRequirements.length}} skill requirements.
                        </div>                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <!-- th>ID</th -->
                                    <th>NAME</th>
                                    <th>PRECEDENTS</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let skillRequirement of this.selectedProduct.skillRequirements; let i = index">
                                    <!-- td>{{skillRequirement.uniqueId}}</td -->
                                    <td>{{skillRequirement.name}}</td>
                                    <td>
                                        <table>
                                            <tr *ngFor="let precedent of skillRequirement.precedents">
                                                <td>{{precedent.name}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noData>Product not found.</ng-template>
<ng-template #noPartsData>No parts data found.</ng-template>
<ng-template #noSkillRequirementsData>No skill requirements data found.</ng-template>

<bottom-footer
    [whereAmIContext]="'productDetail'"
    [whereAmISubContext]="callerType"
    [whereAmIElement]="">
</bottom-footer>